<div class="modal fade" id="emailModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please join the search party! Help us find the kittens!</h4>
      </div>
      <div id="emailModalContent">
        <form action="main/getDirections" id="emailForm">
          <div class="modal-body">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="hidden" name="offline" id="offline" value="<%= @is_offline %>">
              <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" value="tsanova.dillyana@gmail.com">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="successModalLabel">You saved them!</h4>
      </div>
      <div class="modal-body">
        <div id="successModalContent">
          <div id="imgKitten"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="search-party">
  <%= image_tag('/images/police-car-small.png', alt: 'police') %>
</div>

<div id="map-container"></div>