@import "bootstrap-sprockets";
@import "bootstrap";

$tile-size : 5em;

body {
  background-color: #EFEFEF;
  padding-bottom: 3em;
}
header{
  border-bottom: 1px solid #CCC;
  background-color: #DDD;
  margin-bottom: 2em;
}
header h1 {
  font-size: 2em;
  margin: 0;
  line-height: 2em;
  color: #555;
  text-shadow: 2px 2px 1px #EEE;
}
footer{
  border-top: 1px solid #5C5C5C;
  background-color: #888;
  margin-top: 2em;
  padding: 0.5em;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 999;
}
footer p {
  font-size: 1em;
  margin: 0;
  line-height: 2em;
  color: #DFDFDF;
  text-shadow: 1px 1px 1px #676767;
}
footer p a{
  text-shadow: 0px 1px 0px #C2C2C2;
  color: rgb(9, 73, 126);
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#map-container {
  margin: 1em auto;
  background-image: url("/images/used-paper.jpg");
  background-color: #FFFFFF;
  background-size: calc(100% - #{$tile-size - 1em}) calc(100% - #{$tile-size - 1em});
  background-position: top right;
  background-repeat: no-repeat;
}

#mapTilesList{
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px 8px #CCC;
}

#mapTilesList li{
  margin: 0;
  padding: 0;
  height: $tile-size;
}
#mapTilesList div{
  display: inline-block;
  border: 1px dotted #CCC;
  width: $tile-size;
  height: $tile-size;
  line-height: $tile-size;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}
#mapTilesList div img{
  opacity: 0.5;
}
#mapTilesList li:last-child div, #mapTilesList li div:first-child{
  background-color: #FFFFFF;
  opacity: 0.8;
}
#mapTilesList img, #search-party{
  display: none;
}
#search-party{
  position: absolute;
  top: -200px;
  left: -200px;
  z-index: 99;
}

#imgKitten{
  margin: 1em auto;
  background-image: url("/images/happy-kitten-small.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 20em;
  height: 17em;
  background-size: 100%;
}
#emailModal{
  padding-top: 5em;
}
#emailModalContentAlert{
  margin: 1em;
}


img.north{
    transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -moz-transform: rotate(0deg); /* Firefox */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
    -o-transform: rotate(0deg); /* Opera */
}

img.east{
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}

img.south{
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

img.west{
  transform: rotate(270deg);
  -ms-transform: rotate(270deg); /* IE 9 */
  -moz-transform: rotate(270deg); /* Firefox */
  -webkit-transform: rotate(270deg); /* Safari and Chrome */
  -o-transform: rotate(270deg); /* Opera */
}

