<!DOCTYPE html>
<html>
<head>
  <title>Dillyana Tsanova's Finding Lost Kittens</title>
  <meta author="Dillyana Tsanova <tsanova.dillyana@gmail.com>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <h1>Finding Lost Kittens</h1>
</header>
<body>

<%= yield %>

</body>
<footer>
  <p>"Finding Lost Kittens" is a Ruby on Rails and JavaScript project made by Dillyana Tsanova <a href="mailto:tsanova.dillyana@gmail.com">tsanova.dillyana@gmail.com</a>.</p>
</footer>
</html>
